<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<form action="">
<div class="group">
  <input placeholder="CEP*" id="pass" type="text" class="input" maxlength="9">
  <span class="material-symbols-outlined icon">
    public
  </span>
</div>

<div class="group">
  <input placeholder="Logradouro*" id="pass" type="text" class="input">
  <span class="material-symbols-outlined icon">
    flag_circle
  </span>
</div>

<div class="group">
  <input placeholder="Número*" id="pass" type="text" class="input">
  <span class="material-symbols-outlined icon">
    pin
  </span>
</div>

<div class="group">
  <input placeholder="Complemento" id="pass" type="text" class="input">
  <span class="material-symbols-outlined icon">
    edit_note
  </span>
</div>

<div class="group">
  <input placeholder="Bairro*" id="pass" type="text" class="input">
  <span class="material-symbols-outlined icon">
    pin_drop
  </span>
</div>

<div class="group">
  <input placeholder="Cidade*" id="pass" type="text" class="input">
  <span class="material-symbols-outlined icon">
    pin_drop
  </span>
</div>

<div class="group">
  <input placeholder="UF*" id="pass" type="text" class="input">
  <span class="material-symbols-outlined icon">
    travel_explore
  </span>
</div>
</form>