
 .first-name{
    width: 550px;
  }

  .second-name {
    width: 550px;
  }

  .date {
    width: 200px;
    margin-right: 3em;
  }
  
  .cpf {
    width: 350px;
  }
  
  .rg {
    width: 350px;
  }
  
  .gender {
    width: 200px;
  }

  .state {
    width: 200px;
  }

  .country {
    width: 300px;
  }

  .natural {
    width: 300px;
  }

  .city {
    width: 300px;
  }

  .cel {
    width: 200px;
  }
  
  .phone {
    width: 200px;
  }


