<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


<form action="">
<div class="group">
  <input placeholder="Primeiro nome*" id="pass" type="text"  class="input first-name" maxlength="30">
  <span class="material-symbols-outlined icon">
    border_color
  </span>
</div>

<div class="group">
  <input placeholder="Sobrenome*" id="pass" type="text" class="input last-name"  maxlength="40">
  <span class="material-symbols-outlined icon">
    border_color
  </span>
</div>

<div class="group">
  <input placeholder="Data de nascimento*" id="pass" type="date" class="input date">
</div>

<div class="group">
  <input placeholder="CPF*" id="pass" type="text" class="input cpf" maxlength="14">
  <span class="material-symbols-outlined icon">
    badge
  </span>
</div>

<div class="group">
  <input placeholder="RG" id="pass" type="text" class="input rg" maxlength="9">
  <span class="material-symbols-outlined icon">
    assignment_ind
</span>
</div>
<div class="group">
  <input placeholder="Gênero*" id="pass" type="text" class="input gender">
  <span class="material-symbols-outlined icon">
    transgender
  </span>
</div>

<div class="group">
  <input placeholder="Estado civil*" id="pass" type="text" class="input state">
  <span class="material-symbols-outlined icon">
    domain_verification
  </span>
</div>

<div class="group">
  <input placeholder="Nome completo da Mãe sem abreviações*" id="pass" type="text" class="input name-mother" maxlength="80">
  <span class="material-symbols-outlined icon">
    border_color
  </span>
</div>

<div class="group">
  <input placeholder="Nacionalidade*" id="pass" type="text" class="input country">
  <span class="material-symbols-outlined icon">
    flag
  </span>
</div>

<div class="group">
  <input placeholder="Naturalidade - Estado*" id="pass" type="text" class="input natural">
  <span class="material-symbols-outlined icon">
    flag
  </span>
</div>

<div class="group">
  <input placeholder="Naturalidade - Cidade*" id="pass" type="text" class="input city">
  <span class="material-symbols-outlined icon">
    flag
  </span>
</div>

<div class="group">
  <input placeholder="Celular* (XX) XXXXX-XXXX" id="pass" type="tel" class="input cel" maxlength="13">
  <span class="material-symbols-outlined icon">
    phone_iphone
  </span>
</div>

<div class="group">
  <input placeholder="Telefone" id="pass" type="tel" class="input phone" maxlength="12">
  <span class="material-symbols-outlined icon">
    phone_enabled
  </span>
</div>
</form>