<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<div class="choose">
  <div class="choose-item">
    <div class="icon">
      <svg>
        <use attr.href="./assets/icons.svg#{{select?.icon1}}"></use>
      </svg>
    </div>
    <div class="text">{{select?.text1}}</div>
  </div>
  <div class="choose-item">
    <div class="icon">
      <svg>
        <use attr.href="./assets/icons.svg#{{select?.icon2}}"></use>
      </svg>
    </div>
    <div class="text">{{select?.text2}}</div>
  </div>
</div>